.fields
  .clearfix
    = f.label :name, "Theme"
    .input
      = f.text_field :name
      = link_to_remove_fields "Remove", f

  = f.fields_for :themes do |category_f|
    = render 'category_fields', f: category_f
  .clearfix.offset2
    = link_to_add_fields "Add a category", f, :themes, :category
    %hr
