#compare-view
  #header
    .container= @election.name
    
  #content
    .container
      .theme-name= @theme.name
      
      - @theme.themes.each do |category|
        - category.themes.each do |section|
          %ul.section
            %li.names
              /%span.category-name= category.name
              %span.section-name= section.name
            - @candidates.each do |candidate|
              %li.propositions
                .image= image_tag "http://flickholdr.com/100/100/#{candidate.name.parameterize}", :size => "40x40"
                .name= candidate.name
                - @propositions[candidate.id][section.id][0..1].each do |proposition|
                  .proposition= truncate proposition.text, length: 180