.row-fluid
  .span12
    %h2
      Users
    .pull-right
      = form_tag new_admin_users_path, method: :get, class: 'form form-horizontal' do
        .control-group
          = label_tag :search, "Search", class: 'control-label'
          .controls
            = text_field_tag :search, params[:search]
            = button_tag :submit, class: 'btn'
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th ID
          %th Name
          %th Email
          %th Creation date
          %th last sign-in
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.name
            %td= user.email
            %td= user.created_at
            %td= user.last_sign_in_at

    %center= will_paginate @users
