- if election_tag.children_election_tags.empty?
  .help
    %span= election_tag.tag.name
    
  - tag_propositions = @tags_propositions[election_tag.tag.id.to_s]
  - if tag_propositions
    - @candidacies.each do |candidacy|
      .propositions
        / candidate
        .candidate
          = image_tag candidacy.candidates.first.photo_url(:small), size: "40x40"
          
        / propositions
        - candidacy_propositions = tag_propositions.select { |p| p.candidacy_id == candidacy.id }
        - candidacy_propositions.each do |proposition|
          .proposition
            = link_to proposition.text, webviews_proposition_path(proposition.id)
            
- else
  .help
    %span= election_tag.tag.name
    
  - election_tag.children_election_tags.each do |children_tag|
    = render "tag", election_tag: children_tag