.static-nav
  %ul
    %li= link_to "Project", about_path
    %li= link_to "Team", team_path
    %li= link_to "Join", join_path
    %li= link_to "Press", press_path
    %li= link_to "Terms", terms_path
    
  = link_to image_tag('web/icons/twitter.png'), "http://twitter.com/voxe", target: "blank"
  = link_to image_tag('web/icons/facebook.png'), "http://facebook.com/joinvoxe", target: "blank"