.static-nav
  %ul
    %li= link_to "Projet", about_path
    %li= link_to "Méthode", how_path
    %li= link_to "Soutenir", "http://www.kisskissbankbank.com/projects/voxe-org-le-comparateur-neutre-des-programmes-politiques", target: "_blank"
    %li= link_to "Equipe", team_path
    %li= link_to "Presse", press_path
    %li= link_to "Remerciements", thanks_path
    / %li= link_to "Participer", join_path
    %li= link_to "Candidats", "https://docs.google.com/a/voxe.org/spreadsheet/viewform?formkey=dERfY3dzTG0wVkY4eVdJelktbDY1VFE6MQ"
    / %li= link_to "Juridique", terms_path
    
  = link_to image_tag('web/icons/twitter.png'), "http://twitter.com/voxe", target: "blank"
  = link_to image_tag('web/icons/facebook.png'), "http://facebook.com/joinvoxe", target: "blank"
  = link_to image_tag('web/icons/youtube.png'), "http://www.youtube.com/voxechannel", target: "blank"
