.static-page-container
  .page-content
    .title Comparer. Partout.
    
    .platforms
      .platform.ios
        .name= link_to_app_store "iPhone, iPad, iTouch"
        = link_to_app_store image_tag('web/iphone.png')
        
      .platform.android
        .name= link_to_android_market "Android"
        = link_to_android_market image_tag('web/android.png')
        
      .platform
        .name= link_to "Sur votre site", platform_embed_index_path
        = link_to image_tag('web/embed.png'), platform_embed_index_path