- unless f.object.persisted?
  = f.association :tags, as: :select, collection: @tags, input_html: { class: "input-xxlarge" }
= f.input :text, as: :text, input_html: { class: "input-xxlarge", rows: 10 }
%h5
  = t('backoffice.links')
= f.simple_fields_for :embeds do |embed|
  = render "embed_fields", f: embed
= link_to_add_fields t('backoffice.add_link'), f, :embeds, "btn cst-btn"
%br
= f.submit t('backoffice.submit'), class: "btn btn-success submit-btn"
