= f.input :text, as: :text, input_html: { class: "input-xxlarge", rows: 10 }
= f.association :tags, as: :select, collection: @tags, input_html: { class: "input-xxlarge" }
%h5 Liens
= f.simple_fields_for :embeds do |embed|
  = render "embed_fields", f: embed
= link_to_add_fields "Add link", f, :embeds
= f.submit 'submit'
