= hidden_field_tag :election_tag_id, params[:election_tag_id]

.alert.alert-info
  = t 'backoffice.edit_proposition_sub_tag'
= f.association :tags, as: :select, label: t('backoffice.sub_theme'), collection: @tags, input_html: { class: "input-xxlarge" }

.alert.alert-info
  = t 'backoffice.edit_proposition_text'
= f.input :text, label: t('backoffice.proposition_text'), as: :text, input_html: { class: "input-xxlarge", rows: 10, maxlength: 300 }, hint: tag(:span, id: 'text-counter'), placeholder: '300 ' + t('backoffice.characters_max')

.alert.alert-info
  = t 'backoffice.edit_proposition_embed_link'

= f.simple_fields_for :embeds do |embed|
  = render "embed_fields", f: embed
.embed
= link_to_add_fields t('backoffice.add_link'), f, :embeds, "btn cst-btn"
%br

.form-actions
  = f.submit t('backoffice.submit'), class: "btn btn-success"
  = link_to t('backoffice.back'), :back, class: 'btn'

:coffee
  $ ->
    $('#proposition_text').simplyCountable({
      counter: '#text-counter'
      maxCount: 300
      countDirection: 'up'
    })
