= @proposition.tag_names
= simple_form_for @proposition, url: backoffice_proposition_path(@proposition[:_id]), html: { class: 'form-horizontal' } do |f|
  = f.input :text, as: :text, input_html: { class: "input-xxlarge", rows: 10 }
  = f.association :tags, as: :check_boxes, collection: @tags, :selected => @proposition_tags
  = f.submit 'submit'
