

- if @active_tag.present?
  %h2= "Élection : " + @election_name + " - Mes propositions"
  %hr
  .hero-unit-bo
    %h4 Choisir un thème
  %ul{:class => "nav nav-pills" }
    - @lst_tags.sort_by{ |categ_tag| categ_tag.tag.name }.each do |categ_tag|
      - if(@active_tag)
        - if(categ_tag.tag.name==@active_tag.tag.name)
          %li{:class => "active" }
            - unless categ_tag.tag.icon_prefix.blank?
              = image_tag "#{categ_tag.tag.icon_prefix}32.png", style: 'width: auto; height: 24px;', onerror: "this.style.display = 'none';"
            = link_to categ_tag.tag.name, backoffice_propositions_categorie_path(categ_tag.tag.namespace), style: 'display: inline;'
        - else
          %li
            - unless categ_tag.tag.icon_prefix.blank?   
              = image_tag "#{categ_tag.tag.icon_prefix}32.png", style: 'width: auto; height: 24px;', onerror: "this.style.display = 'none';"
            = link_to categ_tag.tag.name, backoffice_propositions_categorie_path(categ_tag.tag.namespace), style: 'display: inline;'
      - else
        %li
          - unless categ_tag.tag.icon_prefix.blank?   
            = image_tag "#{categ_tag.tag.icon_prefix}32.png", style: 'width: auto; height: 24px;', onerror: "this.style.display = 'none';"
          = link_to categ_tag.tag.name, backoffice_propositions_categorie_path(categ_tag.tag.namespace), style: 'display: inline;'


  %hr
  .row
    - if @active_tag
      .col-md-4.col-sm-6
        %a{ :href => new_backoffice_proposition_path(election_tag_id: @active_tag.id.to_s), :target => '_blank' }
          .btn.btn-block
            %i.icon-plus-sign
            Nouvelle proposition
    - if @propositions_categ.any?
      .quick-search-div.col-md-6.col-md-offset-2.col-sm-6
        = form_for :search, html: {class: 'form-search', style: 'float: right;'} do |f|
          %label{:for => "quick_search"}
            = t('backoffice.search')
          .input-prepend
            %span.add-on
              %i.icon-search
            = f.text_field :search, id: "quick_search", class: "input-medium"

  - if @propositions_categ.count > 0
    .row
      .col-md-12
        %br
        %table.table.table-hover
          %thead
            %tr{style: 'border-bottom: 3px solid #B6B6B6;'}
              %th{style: 'border-right: 1px solid #dddddd; width: 10%;'}
                %b
                  = t('backoffice.sub_tag')
              %th{style: 'border-right: 1px solid #dddddd; width: 75%;'}
                = t('backoffice.proposition_text')
              %th 
                %b
                  Action
          %tbody#root-propositions
            - @propositions_categ.sort_by{ |p| p.tags.first.name }.reverse.each do |proposition|
              %tr
                %td{style: 'border-right: 1px solid #dddddd; width: 10%;'}
                  - if proposition.tags.count > 0
                    - proposition.tags.each do |tag|
                      - unless @active_tag.tag === tag
                        %b
                          = tag.name
                        %br
                  - else
                    X
                %td{style: 'border-right: 1px solid #dddddd; width: 75%;'}
                  = proposition[:text]
                  %div{style: 'margin-top: 10px; margin-bottom: 10px;'}
                    - if proposition.embeds.count > 0
                      - if proposition.embeds.count > 0
                        %b
                          Les liens de la proposition :
                          %br
                        - proposition.embeds.each do |embed|
                          %b
                            - if embed.title.present?
                              = link_to " - " + embed.title, embed.url, target: '_blank'
                            - else
                              = link_to " - " + embed.url, embed.url, target: '_blank'
                            - if embed.provider_name == "YouTube"
                              (Lien Youtube)
                            %br
                %td
                  = link_to edit_backoffice_proposition_path(proposition, election_tag_id: @active_tag.id.to_s), class: 'btn crud-btn', target: '_blank' do
                    %i.icon-pencil
                    = t('backoffice.edit')
                  = link_to backoffice_proposition_path(proposition), method: :delete, confirm: t('backoffice.alert_confirmation'), class: 'btn btn-danger crud-btn' do
                    %i.icon-remove
                    = t('backoffice.delete')
  - else 
    .row
      .col-md-12
        %br
        %br
        %h3{style: 'text-align: center;'}
          = "Aucune proposition pour ce thème"

- else 
  %h2= t('backoffice.election_target') + " : " + @election_name + " - " + t('backoffice.my_propositions')
  %hr
  %br
  .hero-unit-bo
    %h4 Choisir un thème
  .row{style: 'margin-top: 20px;'}
    .col-md-12
      - @lst_tags.sort_by{ |categ_tag| categ_tag.tag.name }.each do |categ_tag|
        = link_to backoffice_propositions_categorie_path(categ_tag.tag.namespace), class: 'theme-choose' do
          .col-md-12{style: 'text-align: left; padding-bottom: 30px; padding-top: 30px; padding-left 15px;'}
            - unless categ_tag.tag.icon_prefix.blank?
              = image_tag "#{categ_tag.tag.icon_prefix}32.png", style: 'width: auto; height: 32px;', onerror: "this.style.display = 'none';"
            = categ_tag.tag.name


