.title= @election.name

= form_tag candidacies_path(@election), method: 'post' do

  = hidden_field_tag 'tagId', params[:tagId]

  %ul
    - @election.candidacies.each do |candidacy|
      %li
        = check_box_tag 'candidacies[]', candidacy.id, (params[:candidacyIds] || []).split(',').include?(candidacy.id.to_s), id: "candidacy-#{candidacy.id}"
        = label_tag "candidacy-#{candidacy.id}" do
          = image_tag candidacy.candidates.first.photo_url(:small), size: "32x32", valign: "middle"
          = candidacy.candidates.first.name
    
    %p.submit= submit_tag 'Compare'