%h2 Countries management

= render "/new_admin/flash", flash: flash
= render "form", country: Country.new

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Flag
      %th Number of elections
      %th Actions
  %tbody
    - @countries.each do |c|
      %tr.country
        %td= c
        %td= image_tag "https://voxe.s3.amazonaws.com/countries/" + c.namespace + ".jpg", class: "flag"

        %td= c.elections.count
        %td
          = link_to "Rename", edit_new_admin_country_path(c), class: 'btn btn-smal'
          = link_to new_admin_country_path(c), class: 'btn btn-small btn-danger', confirm: "Sure ?", method: "DELETE" do
            %i.icon-remove-circle
            Delete

