!!! HTML
%html
  %head
    %title= "#{@election.name} | The Voxe"
    = stylesheet_link_tag "embed"
    = javascript_include_tag "embed"
  %body
    = render 'layouts/partials/facebook.html'
    :javascript
      $(function() {
        new VoxeElection({id: '#{@election.id}'});
      });
    #app
      
    #templates
      = render 'templates.mustache'
      
    = render 'layouts/partials/twitter.html'