= link_to "candidates", election_path(@election, candidacyIds: params[:candidacyIds], tagId: params[:tagId])
= link_to "themes", election_tags_path(@election, candidacies: params[:candidacyIds].split(','))

- @election_tag.children_election_tags.each do |category|
  .category-container
    .category-name= category.tag.name
    - category.children_election_tags.each do |section|
      - tag_propositions = @tags_propositions[section.tag.id.to_s]
      .section-container
        .section-name
          %span= section.tag.name
        - if tag_propositions
          - @candidacies.each do |candidacy|
            - candidacy_propositions = tag_propositions.select { |p| p.candidacy_id == candidacy.id }
            .candidate-container
              .candidate-photo= image_tag candidacy.candidates.first.photo_url(:small), size: "40x40"
              .propositions-container
                - unless candidacy_propositions.blank?
                  - candidacy_propositions[0..1].each do |proposition|
                    .proposition
                      = link_to truncate(proposition.text, length: 140), proposition_webviews_url(propositionId: proposition.id)
                  - if candidacy_propositions.count > 2
                    .view-more
                      %a View More