:coffeescript
  $ ->
    new VoxeElection electionId: "#{@election.id}"
    
#templates
  = render 'touch.mustache'

#application-view
  #modal-view
    .nav-bar
      .title= @election.name
      %a.button.right Compare
    
    .table-view-container
      .table-view
        %ul.candidates
          - @election.candidates.each do |candidate|
            %li{"candidate-id" => candidate.id}
              .image= image_tag candidate.photo_url(:small), size: "40x40"
              .name= candidate.name
        
  #navigation-view
    .page-view#themes
      .nav-bar
        .title Themes
      
      .table-view-container
        .table-view
          %ul.themes
            - @election.themes.each do |theme|
              %li{"theme-id" => theme.id}
                .icon= image_tag 'transports.png'
                .name= theme.name

    .page-view#propositions
          

    #toolbar
      %a candidates