#application-view
  #modal-view
    .nav-bar
      .title= @election.name
      %a.button.right Compare
    
    .table-view-container
      .table-view
        %ul.candidates
          - @election.candidates.each do |candidate|
            %li{"candidate-id" => candidate.id}
              .image= image_tag candidate.photo_url(:small), size: "40x40"
              .name= candidate.name
        
  #navigation-view
    .page-view#themes
      .nav-bar
        .title Themes
      
      .table-view-container
        .table-view
          %ul.themes
            - @election.themes.each do |theme|
              %li{"theme-id" => theme.id}
                .icon= image_tag 'transports.png'
                .name= theme.name

    .page-view#propositions
      .nav-bar
        %a.button.left  ← Themes
        .title Economie
      
      .table-view-container
        .table-view
          .propositions
            - 30.times do
              .proposition
                President
                %span Obama
                traveled to the heart of Republican Kansas on Tuesday, where he presented Americans with a choice: a "fair shot" with him, or a return to "you're on your own economics.

    #toolbar
      %a candidates

    :plain
      <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(
      hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,0.9); } </script>