= simple_form_for [:new_admin, @election] do |f|
  .span6
    = f.input :name
    - if @election.new_record?
      = f.input :namespace
    = f.input :country_id do
      %span.add-on
        %i.icon-flag
      = f.input_field :country_id, collection: Country.all.order_by(name: :asc)
      = link_to 'Ajouter un pays', new_new_admin_country_path, class: "btn btn-info btn-small", target: '_blank'
    = f.input :parent_election_id do
      = f.input_field :parent_election_id, collection: Election.all
    = f.input :date, :wrapper => :prepend do
      %span.add-on
        %i.icon-calendar
      = f.input_field :date
    = f.button :submit

  .span6
    %br
    - if action_name == "new"
      %h4 Facultatif : Importer les thèmes d'une élection existante
      = f.input :election_tags, collection: Election.all.asc(:name), label: "Sélectionner une Élection"

:javascript
  $("#election_date").datepicker({
    "format": "dd/mm/yyyy",
    "weekStart": 1,
    "autoclose": true
  })

  $("#election_country_id").select2({
    "maximumSelectionSize": 1
  })
