%h2 Elections management

= render "/new_admin/flash", flash: flash

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Name
      %th Country
      %th Published
      %th Date
      %th Actions
  %tbody
    - @elections.each do |e|
      %tr
        %td
          = link_to e, new_admin_election_path(e)
        %td
          = e.country
        %td
          - if e.published
            = link_to "", new_admin_election_unpublish_path(e), class: "election-published", method: :post
          - else
            = link_to "", new_admin_election_publish_path(e), class: "election-unpublished", method: :post
        %td
          = e.date
        %td
          = link_to "Edit", edit_new_admin_election_path(e), class: "btn btn-small"
          = link_to new_admin_election_path(e), method: :delete, confirm: "Sure ?", class: "btn btn-small btn-danger" do
            Delete
