%form#form-tag-search.form-search
  .input-append
    = text_field_tag "tag-search", nil, class: "search-query", placeholder: "Search", autocomplete: "off"
    = button_tag type: "submit", class: "btn" do
      %i.icon-search

%ul
  - @election_tags.each do |et|
    %li.tag.root-tag.span2.offset1
      .tag-name
        = et.tag
      %ul 
        - et.children_election_tags.each do |sub_et|
          %li.tag.sub-tag.span2
            .tag-name
              = sub_et.tag
            %ul
              - sub_et.children_election_tags.each do |sub_sub_et|
                %li.tag.sub-sub-tag.span2
                  .tag-name
                    = sub_sub_et.tag
