.row-fluid
  .span12
    %h2 #{@election.name} - Contributors

    %br
    %h3 Select a contributor
    = form_tag new_admin_election_contributors_path, class: 'form-horizontal' do
      .control-group
        = label_tag 'User', nil, class: 'control-label'
        .controls
          = select_tag :user_id, options_from_collection_for_select(@users, "id", "name"), :include_blank => '', style: 'width: 300px;'
          = submit_tag 'Add', class: 'submit', style: "display: inline;"
    %br
    %table.table.table-striped.table-hover.table-condensed
      %thead
        %tr
          %th ID
          %th Name
          %th Email
          %th Actions
      %tbody
        - for user in @contributors
          %tr
            %td= user.id
            %td= user.name
            %td= user.email
            %td= link_to "Delete", new_admin_election_contributor_path(@election.id, user.id), method: :delete, confirm: "Delete this contributor ?", class: "btn btn-small btn-danger"

:coffee
  options = []
  for user in #{@users.map{|u| [u.id, u.name]}.to_json}

    options.push {
      id: user[0],
      title: user[1]
    }
  $('#user_id').selectize(
    valueField: 'id',
    labelField: 'title',
    searchField: 'title',
    sortField: 'title',
    options: options,
    create: false
  )
  console.log('loaded')

%div{style: "position:fixed; top:0; left:0; overflow:hidden;"}
  %input#focus_retriever{style: "position:absolute; left:-300px;", type: "text", value: ""}/