#menu-container
  %ul#menu

#pages-container
  #pages
    .candidate-profile
      - if @profile.cibul.present?
        :plain
          <script type="text/javascript" src="http://s3-eu-west-1.amazonaws.com/cibulstatic/cibulProgramWidget.min.js"></script><div class="cibul-pw"><a class="cibul-pw-link" href="http://cibul.net/#{@profile.cibul}/fr?order=date&limit=5">#{@profile.cibul}</a></div>
      = image_tag @profile.picture
      = @profile.name
      = @profile.birthday
      = @profile.email
      = @profile.address
      = @profile.biography
      = @profile.introduction
      = @profile.twitter
      = @profile.facebook
      = @profile.youtube
      = @profile.wikipedia
      = @profile.website

      #candidate-propositions.tabbable.tabs-left
        %ul.nav.nav-tabs
          - for election_tag in @election.root_election_tags
            %li
              = link_to election_tag.tag.name, "##{election_tag.tag.namespace}", 'data-toogle' => 'tab'
        .tab-content
          - for election_tag in @election.root_election_tags
            .tab-pane{id: election_tag.tag.namespace}
              - for proposition in @candidacy.propositions.where(tag_ids: election_tag.tag_id)
                %br
                = proposition.text

:javascript
  $('#candidate-propositions a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })
