.row-fluid
  .span12
    %h2 
      Thèmes
      %small
      - if can? :create, Country
        = link_to 'Nouveau thème', new_new_admin_tag_path, class: "btn btn-info btn-small", style: 'display: inline'
.row-fluid
  .span12
    %table.table.table-striped.table-hover.table-condensed
      %tr
        %th Image
        %th Name
        %th Namespace
        %th Actions
      - for tag in @tags
        %tr
          %td
            = image_tag "#{tag.icon_prefix}32.png", onerror: "this.style.display = 'none';"
          %td= tag.name
          %td= tag.namespace
          %td= link_to 'Éditer', edit_new_admin_tag_path(tag), class: 'btn btn-mini'
    %center= will_paginate @tags
