.fields{id: "proposition-fields-#{proposition.id}"}
  = form_for [:admin, proposition], remote: true do |f|
    = f.hidden_field :election_id
    = f.hidden_field :candidate_id
    .clearfix
      = f.text_area :text, class: 'xxlarge', rows: 2
    .clearfix
      = label_tag "Tags"
      .input
        = proposition.tag_names.join(', ')
    .clearfix
      = f.label :tag, "Add a new tag"
      .input
        = f.select :tag, Tag.all.collect(&:name)
    - if proposition.persisted?
      = f.fields_for :embeds do |embed_f|
        = render 'embed_fields', f: embed_f
      .clearfix.offset1
        = link_to_add_fields "Add an embed", f, :embeds
    = f.submit class: "btn"
