.row
  .span16

    %ul.tabs
      - @elections.each_with_index do |election, i|
        %li{class: i.zero? ? 'active' : ''}= link_to election.name, "##{election.id}"
    .pill-content
      - @elections.each_with_index do |election, i|
        .election{id: election.id, class: i.zero? ? 'active' : ''}
          = election.name
          %ul
            - for candidate in election.candidates do
              %li
                = candidate.name
                (
                = link_to "Manage propositions", manage_admin_propositions_path(electionId: election.id, candidateId: candidate.id)
                )
