%div.control-group.url.optional.candidacy_candidate_profile_website
  - if name.empty?
    %label.string.optional.control-label.cst-label
      = label
  - else
    = f.label name
  .controls
    - if input == :twitter
      .input-prepend
        %span.add-on @
        = f.input_field input, as: :url, placeholder: hint, class: 'span2'
      = link_to_test_link t('backoffice.test_link'), website, class: "btn"
    - else
      = f.input_field input, as: :url, placeholder: hint
      = link_to_test_link t('backoffice.test_link'), website, class: "btn"
