= content_for :head do
  :css

    @media (max-width: 979px) {
      #candidacy_candidate_profile_picture{
        width: 300px;
      }
    }
    @media (min-width: 980px) {
      #candidacy_candidate_profile_picture{
        width: 100%;
      }
    }
    #candidacy_candidate_profile_picture{
        font-size: 12px;
      }


.hero-unit-bo
  %h2 Bienvenue dans votre administration
  %br
  %br
  %p{style: 'line-height: 25px;'}= "Modifiez ici votre informations générales, et complétez vos propositions pour l'élection : " + @election.name + "."
  %br
  %br
  %br
  = link_to 'Voir mon profil public', candidate_profile_path(electionnamespace: @profile.candidacy.election.namespace, candidatenamespace: @profile.candidacy.namespace), class: 'btn btn-primary', target: :blank
  

%h4{style: 'margin-left: 20px;'}
  = "Modifier mon profil"
  %hr{style: "width: 50%;"}

= simple_form_for @profile, url: backoffice_my_profile_path, html: { class: 'form-horizontal' } do |f|
  .img-col.col-md-3.pull-right
    %h4.hidden-sm.hidden-xs= "Photo de profil"
    %br
    %label.hidden-md.hidden-lg.hidden-xl{style: 'width: 160px; text-align: right;'}
      = t('backoffice.my_picture_profile')
    - if @profile.picture.present?
      = image_tag @profile.picture, id: 'picture-profile', style: 'max-width: 200px; height: auto; display: inline' 
    #picture-changed{class: 'hide'}
      %i.icon-check
      = t('backoffice.my_picture_profile_changed')
    %br
    %br
    = f.file_field :picture, class: 'btn', style: 'height: 40px; border: 1px solid #C8C8C8;'
  .col-md-9
    = render "form", f: f, profile: @profile
  .col-md-12.form-actions
    = f.submit "Mettre à jour", class: "btn btn-success btn-large"
