%h4
  Créer votre profile candidat
= simple_form_for @profile, url: backoffice_my_profile_path, html: { class: 'form-horizontal' } do |f|

  = f.input :name
  = render "form", f: f
  = f.input :password
  = f.submit t('backoffice.create'), class: "btn btn-success submit-btn"
