= simple_form_for current_candidate, url: backoffice_candidate_path, html: { class: 'form-horizontal' } do |f|
  = f.input :last_name
  = f.input :first_name
  = f.input :address
  = f.input :birthday
  = f.input :phone
  = f.input :email
  = f.input :website, as: :url
  = f.input :biography, as: :text, input_html: { maxlength: 300 }, hint: '300 characters max'
  = f.input :introduction, as: :text, input_html: { maxlength: 1000 }, hint: '1000 characters max'
  = f.input :facebook, as: :url, label: image_tag('web/icons/facebook.png'), label_html: { class: "cst-label" }
  = f.input :twitter, as: :url, label: image_tag('web/icons/twitter.png'), label_html: { class: "cst-label" }
  = f.input :youtube, as: :url, label: image_tag('web/icons/youtube.png'), label_html: { class: "cst-label" }
  = f.input :wikipedia, as: :url, label: image_tag('web/icons/wikipedia.png'), label_html: { class: "cst-label" }
  = f.input :photo, as: :file, label: image_tag(current_candidate.photo_url(:small)), label_html: { class: "cst-label" }
  = f.submit 'submit'