= simple_form_for [:new_admin, @candidate] do |f|
  = f.input :first_name
  = f.input :last_name
  = f.input :namespace
  - unless f.object.persisted?
    = f.simple_fields_for :photos do |p|
      = p.input :image
  = f.button :submit

