%meta{property: "og:title", content: "#{page_title}"}
%meta{property: "og:type", content: "website"}
%meta{property: "og:url", content: "#{request.url}"}
%meta{property: "og:image", content: "#{page_image}"}
%meta{property: "og:site_name", content: "Voxe"}
%meta{property: "fb:app_id", content: "#{Settings.facebook.app_id}"}
%meta{property: "og:description", content: "#{page_description}"}