:javascript
  $(function() {
    new VoxeWeb(#{@options});
  });
  
= render '/web/application/templates.mustache'
    
#high-line

#menu-container
  #menu
    
#pages-container
  #pages
    .page#countries
      .page-container
        #countries-list-container
          .help
            %span
              1.
              = t "comparator.choose_a_country"
          #countries-list
            .category= t "comparator.upcoming_elections"
            #countries-upcoming-list
              .country
                %img{src: "https://voxe.s3.amazonaws.com/countries/add.jpg"}
                .name= t "comparator.add_your_country"
            .clear
            .category= t "comparator.previous_elections"
            #countries-previous-list
            .clear

    .page#elections
      .page-container
        #elections-list-container
          .help
            %span
              2.
              = t "comparator.choose_an_election"
          #elections-list
          .add
            %img{src: "https://voxe.s3.amazonaws.com/elections/add.jpg"}
            %br/
            = t "comparator.add_your_election"
                    
    .page#candidacies
      .page-container
        #candidacies-list-container
          .help
            %span
              3.
              = t"comparator.choose_two_candidates"
          #candidacies-list
          .add
            %img{src: "https://voxe.s3.amazonaws.com/candidates/add.jpg"}
            %br/
            = t "comparator.add_a_candidate"
            
    .page#tags
      .page-container
        .help
          %span
            4.
            = t "comparator.choose_a_theme"
        %ul#tags-list
          / .section
          /   %span Themes
                  
    .page#comparison-page
      #comparison-container
        #comparison
