.body-color
  .header
    %ul.menu
      %li
        %ul
          %li
            %a{:href => ".?src=welcome-page", :target => "_blank"}= t 'welcome.comparator'
          %li
            %a{:href => "http://www.happydemocracy.com", :target => "_blank"}= t 'welcome.democracy'
          %li
            %a{:href => "http://newswatch.voxe.org", :target => "_blank"}= t 'welcome.newswatch'
          %li
            %a{:href => "http://hello2017.org", :target => "_blank"}= t 'welcome.hello2017'
          %li
            %a{:href => "http://laboxdeseuropeennes.voxe.org", :target => "_blank"}= t 'welcome.boxe_eu' 
          %li
            %a{:href => "http://hackcop21.voxe.org", :target => "_blank"}= t 'welcome.hackcop21'
          %li
            %a{:href => "http://regionales.voxe.org", :target => "_blank"}= t 'welcome.regionales'
          %li
            %a{:href => "http://uselections.voxe.org", :target => "_blank"}= t 'welcome.uselections'
          %li
            %a{:href => "mailto:contact@voxe.org", :target => "_blank"}= t 'welcome.contact'
          %li
            %a{:href => "http://regionales.voxe.org/dons/", :target => "_blank"}= t 'welcome.donate'
    .newsletter
      %form{:action => "http://api.mailerlite.com/api/v2/groups/4044519/subscribers", :method => "post"}
        .toolbox
          %a{:href => "."} Voxe.org
        .getintouch
          %label
            %strong= t 'welcome.last_news'
          %input{:name => "EMAIL", :placeholder => "Email", :type => "email"}
          %input{:type => "submit", :value => "OK"}
     
  .content
    .compare
      = image_tag 'welcome/compare.png'
      %h2= t 'welcome.comparator'
      %h3= t 'welcome.comparator-headline'
      %a{:href => ".?src=welcome-page", :target => "_blank"}= t 'welcome.compare'
    .democracy
      = image_tag 'welcome/democracy.png'
      %h2= t 'welcome.democracy'
      %h3= t 'welcome.democracy-headline'
      %a{:href => "http://www.happydemocracy.com", :target => "_blank"}= t 'welcome.inscription'
    .news
      = image_tag 'welcome/newswatch.png'
      %h2= t 'welcome.newswatch'
      %h3= t 'welcome.newswatch-headline'
      %a{:href => "http://newswatch.voxe.org", :target => "_blank"}= t 'welcome.discover'
  .clearer
  .footer
    %h3
      = t 'welcome.headline'
      %br
      %a{:href => "mailto:contact@voxe.org", :target => "_blank"}= t 'welcome.contact_us'
      = t 'welcome.find_us'
    %a.twitter{:href => "https://twitter.com/voxe"}
      = image_tag 'welcome/icon-twitter.png'
    %a.facebook{:href => "https://www.facebook.com/joinvoxe"}
      = image_tag 'welcome/icon-facebook.png'
    
:css
  /***** BEGIN HIDING CONTENT *****/
  
  #donate-section, #appstores {
    display: none;
  }
  
  #empire-state-building {
    display: none;
  }
  
  /***** END HIDING CONTENT *****/
