.row-fluid
  .span12
    %h2
      Propositions

  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th Statut
        %th{style: 'width: 100px;'} Last update
        %th{style: 'width: 130px; border-right: 1px solid #C8C8C8;'} User
        %th{style: 'width: 130px; padding-left: 15px;'} Tag
        %th{style: 'width: 100px;'} Candidate
        %th{style: 'border-right: 1px solid #C8C8C8;'} Proposition
        %th Actions
    %tbody
      - for proposition in @propositions
        %tr
          %td= proposition.created_at == proposition.updated_at ? 'Newly' : 'Updated'
          %td
            - unless proposition.updated_at.blank?
              = "#{I18n.l proposition.updated_at}" 
          %td{style: 'border-right: 1px solid #C8C8C8;'}= proposition.updated_by.try :email
          %td{style: 'padding-left: 15px;'}= proposition.tags.where("parent_tag_id" => nil).first
          %td= proposition.candidacy.candidates.first.name
          %td{style: 'border-right: 1px solid #C8C8C8;'}= proposition.text
          %td= link_to 'Candidacy', new_admin_election_candidacy_propositions_path(proposition.candidacy.election, proposition.candidacy)

  %center= will_paginate @propositions
