.row-fluid
  .span12
    %h2
      Last propositions

  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th ID
        %th Status
        %th{style: 'width: 100px;'} Updated at
        %th User
        %th Proposition
        %th Actions
    %tbody
      - for proposition in @propositions
        %tr
          %td= proposition.id
          %td= proposition.created_at == proposition.updated_at ? 'Newly' : 'Updated'
          %td= proposition.updated_at
          %td= proposition.updated_by.try :email
          %td= proposition.text
          %td= link_to 'Candidacy', new_admin_election_candidacy_propositions_path(proposition.candidacy.election, proposition.candidacy)
