!!! HTML
%html
  %head
    %title The Voxe
    %link{rel: "shortcut icon", href: "#{asset_path('web/favicon.ico')}"}
    = stylesheet_link_tag "admin/application"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "Voxe Admin", admin_path, class: "brand"
          - if current_user.email == 'admin@voxe.org'
            %ul
              %li= link_to 'Elections', '#elections'
              %li= link_to 'Countries', '#countries'
              %li= link_to 'Admins', '#admins'
          %ul.nav.secondary-nav
            %li
              = link_to "Logged as #{current_user.email}", '#'
            %li
              = link_to "Sign out", destroy_user_session_path, method: 'delete'
    .container
      .content
        - if notice
          .alert-message.success
            %p= notice
        - elsif alert
          .alert-message.error
            %p= alert
        = yield

      %footer
        %p Voxe
