!!! HTML
%html
  %head
    %title Voxe
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    
    / http://developer.apple.com/library/ios/#documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html#//apple_ref/doc/uid/TP40002051-CH3-SW3
    <link rel="apple-touch-icon" href="#{image_path('iOS/57ios.png')}" />
    <link rel="apple-touch-icon" sizes="72x72" href="#{image_path('iOS/72ios.png')}" />
    <link rel="apple-touch-icon" sizes="114x114" href="#{image_path('iOS/114ios.png')}" />
    
    = stylesheet_link_tag "touch"
    = javascript_include_tag "touch"
    = csrf_meta_tags
    = render "layouts/partials/google_analytics"
    
  %body{:class => "#{touch_device}"}
    = render 'layouts/partials/facebook.html'
    = yield
    = render 'layouts/partials/twitter.html'