!!!
%html
  %head
    %title Voxe
    %meta{name: "description", content: "Comparer les programmes avant de voter."}
    %meta{name: "google-site-verification", content: "dXr_wFt6WKG3hpwKnDSBz0FA_21NqGnaKRmAQ-1G8Rc"}
    %meta{charset: "UTF-8"}
    %link{rel: "shortcut icon", href: "#{asset_path('web/favicon.ico')}"}
    = stylesheet_link_tag "web"
    = javascript_include_tag "web"
    = render "layouts/partials/google_analytics"
  %body{:class => "#{controller_name} #{action_name}"}
    = render 'layouts/partials/facebook.html'
    #empire-state-building
      .top-container
        #app
          = link_to "Voxe", root_path
        #nav
          = link_to "Apps", apps_path
          = link_to "Platform", platform_path, target: "_blank"
          = link_to "About", about_path
      #top
        = link_to image_tag('icons/32.png', valign: "middle"), root_path
    = yield