!!! HTML
%html
  %head
    %title Voxe.org
    = stylesheet_link_tag "mobile"

  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    #logo
      = link_to root_path do
        = image_tag('icons/32.png', valign: "middle")
        Voxe
    #page= yield