!!! HTML
%html
  %head
    %title Voxe.org
    = stylesheet_link_tag "mobile"
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"}
    = render "layouts/partials/google_analytics"
  %body{id: "#{controller.controller_name}-#{controller.action_name}"}
    #logo
      = link_to root_path do
        = image_tag('icons/32.png', valign: "middle")
        Voxe
    #page
      #page-container= yield