!!! HTML
%html
  %head
    %title Joinplato
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar
      .topbar-inner
        .container= link_to "The Voxe", elections_path, :class => "brand"
    = yield