!!! HTML
%html
  %head
    %title Candidats, ajoutez votre programme sur Voxe.org
    %link{rel: "shortcut icon", href: "#{asset_path('web/favicon.ico')}"}
    = include_gon
    = stylesheet_link_tag 'backoffice'
    = javascript_include_tag 'backoffice'
    = javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
    %link{rel: "stylesheet", href: "//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css"} 
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"}
    %script{src: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
    = javascript_include_tag "https://code.jquery.com/ui/1.12.0/jquery-ui.js"
    = csrf_meta_tags
    = yield :head
  %body

    - if controller_name == 'my_profiles' and action_name == 'new'
      / Ugly I know, sorry :(
      .navbar{style: "margin-bottom: 0;"}
        .navbar-inner
          = link_to root_url do
            .brand
              = '←'
              = image_tag('icons/32.png', width: '20px')
          .nav-collapse.collapse.pull-right
            %ul.nav
              - if not user_signed_in?
                %li
                  = link_to edit_backoffice_my_profile_path do
                    %i.icon-user
                    = t("navigation.sign_in")
      = yield

    - else
      .navbar
        .navbar-inner
          = link_to root_url(src: 'welcome-page') do
            .brand
              = '←'
              = image_tag('icons/32.png', width: '20px')
          = link_to 'Voxe Backoffice', backoffice_root_url, class: 'brand'
          - if user_signed_in? && @no_signed.blank?
            .nav-collapse.collapse
              %ul.nav
                %li
                  = link_to backoffice_my_profile_path do
                    %i.icon-user
                    Mon profil
                %li
                  = link_to backoffice_propositions_path do
                    %i.icon-list
                    Mes propositions
                %li{style: 'border-left: 1px solid #E8E8E8 !important; border-right: 1px solid #E8E8E8  !important;'}
                  = link_to new_backoffice_proposition_path, :target => '_blank', style: 'color: #337ab7 !important;'  do
                    %i.icon-plus{style: 'color: #337ab7 !important;'}
                    Ajouter une proposition

              %ul.nav.pull-right
                %li
                  = link_to 'connecté en tant que' +' '+ current_user.email, '#'
                %li
                  = link_to destroy_user_session_path, method: 'delete' do
                    %i.icon-off
                    Déconnexion
          - else 
      .container
        - if notice
          .alert.alert-success
            = notice
        = yield

    = yield :javascript
