!!! HTML
%html
  %head
    %title Voxe Back Office
    = stylesheet_link_tag 'backoffice/application'
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          = link_to 'Voxe Backoffice', backoffice_root_url, class: 'brand'
          .nav-collapse.collapse
            %ul.nav
              %li= link_to t('backoffice.my_profile'), '#'
    .container= yield
