!!! HTML
%html
  %head
    %title The Voxe
    = stylesheet_link_tag "backoffice/application"
    = javascript_include_tag "backoffice/application"
    = csrf_meta_tags
  %body
    .topbar
      .fill
        .container
          = link_to "The Voxe Office", admin_path, class: "brand"
          %ul.nav
            %li{class: active_menu('users')}
              = link_to "Users", admin_users_path, :class => 'backbone-link', 'data-path' => 'countries'
            %li{class: active_menu('elections')}
              = link_to "Elections", admin_elections_path
            %li{class: active_menu('candidates')}
              = link_to "Candidates", admin_candidates_path
            %li{class: active_menu('tags')}
              = link_to "Tags", admin_tags_path
            %li{class: active_menu('propositions')}
              = link_to "Propositions", admin_propositions_path
          %ul.nav.secondary-nav
            %li
              = link_to "Logged as #{current_user.email}", '#'
            %li
              = link_to "Sign out", destroy_user_session_path, method: 'delete'
    .container
      .content
        - if notice
          .alert-message.success
            %p= notice
        - elsif alert
          .alert-message.error
            %p= alert
        = yield

      %footer
        %p The Voxe
