!!! HTML
%html
  %head
    %title Voxe
    %link{rel: "shortcut icon", href: "#{asset_path('web/favicon.ico')}"}
    = stylesheet_link_tag "admin/application"
    = csrf_meta_tags
  %body
    .container
      .content
        - if notice
          .alert-message.success
            %p= notice
        - elsif alert
          .alert-message.error
            %p= alert
        = yield
