!!! HTML
%html
  %head
    %title The Voxe
    = stylesheet_link_tag "new_admin/application"
    = javascript_include_tag "new_admin/application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          = link_to "The Voxe Office", admin_path, class: "brand"
          %ul.nav
            %li= link_to 'Countries', new_admin_countries_path
            %li= link_to 'Elections', new_admin_elections_path
            %li= link_to 'Admins', '#admins'
          %ul.nav.pull-right
            %li
              = link_to "Logged as #{current_user.email}", '#'

    .container
      =yield
