!!! HTML
%html
  %head
    %title The Voxe
    = stylesheet_link_tag "new_admin"
    = javascript_include_tag "new_admin"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          = link_to new_admin_path, class: "brand" do
            = image_tag (asset_path "icons/16.png")
            "The Voxe Office"
          %ul.nav
            - if can? :manage, Tag
              %li= link_to 'Tags', new_admin_tags_path
            - if can? :manage, Country
              %li= link_to 'Countries', new_admin_countries_path
            %li= link_to 'Candidates', new_admin_candidates_path
            %li= link_to 'Elections', new_admin_elections_path
            - if can? :manage, CandidacyCandidateProfile
              %li= link_to 'Public profiles', new_admin_candidacy_candidate_profiles_path
          %ul.nav.pull-right
            %li
              = link_to "Logged as #{current_user.email}", '#'
            %li
              = link_to "Sign out", destroy_user_session_path, method: 'delete'
    .container-fluid
      =yield
